<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.endica.phonegap"
        version   = "1.0.0">

    <name>Endica</name>

    <description>
        Entretenimento diversão e carnaval
    </description>

    <author href="http://mobiweb.com.br" email="contato@mobiweb.com.br">
        Equipe Mobi Web
    </author>

    <!--
         Se você não quer que nenhuma permissão para ser adicionado ao seu aplicativo, adicione o
        seguinte tag no seu config.xml; você ainda terá a INTERNET
        permissão em sua aplicação, que exige PhoneGap.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Personalize seu aplicativo e da plataforma com o elemento de preferência. -->
    <preference name="orientation"                value="default" />        <!-- todos: meios padrão paisagem e retrato estão habilitados -->
    <preference name="target-device"              value="universal" />      <!-- todos: valores possíveis telefone, tablet ou universal -->
    <preference name="fullscreen"                 value="true" />           <!-- todos: oculta a barra de status na parte superior da tela -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: controle se a tela 'salta' quando rolado além da parte superior -->
    <preference name="prerendered-icon"           value="true" />           <!-- Ios: se o ícone é prerendered, iOS não vai aplicá-la é brilho para o ícone do aplicativo na tela inicial do usuário -->
    <preference name="stay-in-webview"            value="false" />          <!-- Ios: links externos devem abrir no navegador padrão, 'true' usaria o webview o aplicativo vive em -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- Ios: Preto-translúcida aparecerão preto porque o webview PhoneGap não ir abaixo da barra de status -->
    <preference name="detect-data-types"          value="true" />           <!-- IOS:! Controla se os tipos de dados (. Tais como telefone não e datas) são automaticamente transformados em links pelo sistema -->
    <preference name="exit-on-suspend"            value="false" />          <!-- Ios: se definido como verdadeiro, app irá terminar quando o botão é pressionado casa -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- Ios: se for definido como false, o spinner não aparece na tela de abertura durante o carregamento app -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- Ios: se for definido como false, a tela inicial deve ser escondido usando uma API JavaScript -->
	<preference name="disable-cursor"             value="false" />          <!-- blackberry : impede que um mouse de ícone / cursor seja exibido no aplicativo -->
    <preference name="android-installLocation"    value="auto" />           <!-- Android: instalação de aplicativos de localização. 'auto' vai escolher. 'InternalOnly' é a memória do dispositivo. 'preferExternal' é SDCard. -->
    <!--
        Definir uma versão específica do PhoneGap para construir em seu aplicativo.
        <preference name="phonegap-version"       value="3.5.0" />
    -->
   <preference name="phonegap-version"       value="cli-6.3.0" />
	
    <!-- Plugins -->

    <!-- Core plugins -->
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />

    <!-- Plugins de terceiros -->
    <!-- Uma lista de plugins disponíveis estão disponíveis em https://build.phonegap.com/plugins -->
    <!--
        <plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <!-- Definir ícone do aplicativo para cada plataforma. -->
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   platform="android"    qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   platform="android"    qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   platform="android"    qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  platform="android"    qualifier="xhdpi" />
   
   
    <!--  iPhone 6 / 6+ -->
    <icon src="res/icons/ios/icon-60@3x.png"        platform="ios" width="180" height="180" />
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icons/ios/icon-60.png"           platform="ios" width="60" height="60" />
    <icon src="res/icons/ios/icon-60@2x.png"        platform="ios" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-76.png"           platform="ios" width="76" height="76" />
    <icon src="res/icons/ios/icon-76@2x.png"        platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <icon src="res/icons/ios/icon-small.png"        platform="ios" width="29" height="29" />
    <icon src="res/icons/ios/icon-small@2x.png"     platform="ios" width="58" height="58" />
    <!-- Spotlight Icon -->
    <icon src="res/icons/ios/icon-40.png"           platform="ios" width="40" height="40" />
    <icon src="res/icons/ios/icon-40@2x.png"        platform="ios" width="80" height="80" />
    <!--  iPhone / iPod Touch -->
    <icon src="res/icons/ios/icon.png"              platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/icon@2x.png"           platform="ios" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/icons/ios/icon-72.png"           platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/icon-72@2x.png"        platform="ios" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-small.png"        platform="ios" width="29" height="29" />
    <icon src="res/icons/ios/icon-small@2x.png"     platform="ios" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icons/ios/icon-50.png"           platform="ios" width="50" height="50" />
    <icon src="res/icons/ios/icon-50@2x.png"        platform="ios" width="100" height="100" />
   
    <icon src="res/icon/webos/icon-64.png"          platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" platform="winphone"   gap:role="background" />
	<icon src="res/icon/blackberry/icon-80.png"     platform="blackberry" />
    <icon src="res/icon/blackberry/icon-80.png"     platform="blackberry" gap:state="hover"/>

    <!-- Tela inicial app Definir para cada plataforma. -->
    <splash src="res/screen/android/screen-ldpi-portrait.png"       platform="android" qualifier="port-ldpi" />
    <splash src="res/screen/android/screen-mdpi-portrait.png"       platform="android" qualifier="port-mdpi" />
    <splash src="res/screen/android/screen-hdpi-portrait.png"       platform="android" qualifier="port-hdpi" />
    <splash src="res/screen/android/screen-xhdpi-portrait.png"      platform="android" qualifier="port-xhdpi" />
    <splash src="res/screen/blackberry/screen-225.png"              platform="blackberry" />
    
	<!-- iPhone and iPod touch -->
    <splash src="res/screen/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="res/screen/ios/Default@2x.png" platform="ios" width="640" height="960" />
    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />
    <!-- iPhone 6 -->
    <splash src="res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
    <splash src="res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
    <splash src="res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />
    <!-- iPad -->
    <splash src="res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <splash src="res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />
    <!-- Retina iPad -->
    <splash src="res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <splash src="res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
   
    <splash src="res/screen/windows-phone/screen-portrait.jpg"      platform="winphone" />

        <!--
        Definir o acesso a domínios externos.
        <access />            - a tag de acesso em branco nega acesso a todos os recursos externos.
        <access origin="*" /> - a tag acesso universal permite o acesso a todos os recursos externos.
       Caso contrário, você pode especificar domínios específicos:
        <access origin="http://phonegap.com" />                    - permitir que quaisquer solicitações seguras para http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - o mesmo que acima, mas incluindo subdomínios, como http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - Só permite http://phonegap.com a ser aberto pelo navegador da criança.
    -->

    <access origin="*"/>
    <!-- Adicionado os seguintes intenções para apoiar a remoção de código whitelist de Cordova base para um plugin -->
    <!-- Whitelist Configuração. Consulte https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>